<center>
  <br>
  <h2>USER <b style='text-transform:uppercase'><%= @user.username %> </b> IS UNDER INVESTIGATION </h2>
  <img src='https://consciouscompanion2012.files.wordpress.com/2015/08/s340llmwzcuas6ktaaxq-irir9m067.png' height="550px">
  <br>
  <br>
  <br>
  <h5> <b>DETECTIVE SAM SLICK IS ON THE CASE AND WILL GET BACK TO YOU WITH THE VERDICT</b></h5>
</center>
